main {
  padding: 2rem;
}

h2 {
  margin: 1rem 0;
}

button {
  padding: 1rem;
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px black solid;
  cursor: pointer;
  background-color: white;
  font-weight: bold;
}

button:hover {
  background-color: rgba(147, 194, 220, 0.575);
}

section {
  display: flex;
  gap: 1rem;
  align-items: center;
}
